:root {
  --primary-color: #ffbb00;
  --secondary-color: #0030ce;
  --dark-color: #3f3d34;
  --light-color: #f4f4f4;
  --dark-light-color: #bebdbd;
  --danger-color: #c52031;
  --success-color: #28a745;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 10vh auto 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-primary:hover {
  color: var(--secondary-color);
}

.page-container {
  margin: 2rem auto;
  max-width: 1000px;
}

.alert {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  opacity: 0.9;
}

.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: black;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  opacity: 0.9;
  color: white;
}

.admin-btn {
  position: relative;
}

.admin-btn .btn {
  position: absolute;
  right: 0;
}

.title {
  font-size: 2.5rem;
}

.lead {
  font-size: 1.5rem;
}

.scroll {
  position: fixed;
  top: 15vh;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity ease-in-out 1s;
}

.scroll.hide {
  opacity: 0;
}

.scroll.show {
  opacity: 1;
}

.scroll i {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 5px;
  cursor: pointer;
  transition: font-size ease-in-out 0.3s;
}

.scroll i:hover {
  font-size: 1.7rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  z-index: 10;
  width: 100%;
  height: 10vh;
  background-color: var(--primary-color);
  opacity: 0.9;
  position: fixed;
  top: 0;
}

.navbar .brand i {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.navbar ul {
  display: flex;
}

.navbar a,
.navbar li {
  color: black;
  font-size: 1.4rem;
  padding: 0.45rem;
  margin: 0 0.25rem;
  cursor: pointer;
}

.navbar li:hover,
.navbar a:hover {
  color: var(--light-color);
}

/* Forms */
.form-container {
  width: 100%;
  padding-top: 1rem;
  margin: 0.5rem auto;
}

.form .form-group {
  margin: 1.2rem 0;
  display: flex;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.form input[type='text'].search-input {
  border-right: transparent;
}

.form input[type='submit'],
button {
  font: inherit;
}

/* Login and Register */
.auth-form {
  width: 80%;
  margin: 1rem auto;
}

.auth-form h1 {
  font-size: 2.5rem;
}

.auth-form p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.auth-form p a {
  color: var(--secondary-color);
}

.auth-form p a:hover {
  color: var(--primary-color);
}

/* Search form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .sort {
  margin-right: 2rem;
}

.search-form .sort i {
  font-size: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  color: #ccc;
}

.search-form .sort i:hover {
  color: var(--primary-color);
}

.search-form .sort i.active {
  color: var(--primary-color);
}

.search-form .form {
  width: 60%;
}

.search-btn {
  margin-left: 0;
  padding: 0.4rem 1rem;
  border: 1px solid #ccc;
  border-left: transparent;
  cursor: pointer;
  outline: none;
}

/* Movies */
.movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem auto;
  max-width: 1000px;
  position: relative;
}

.movie-card {
  width: 180px;
  margin: 10px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.movie-card img {
  max-width: 200px;
  height: auto;
}

.movie-card a {
  font-size: 1.2rem;
  color: var(--dark-color);
}

.movie-card a:hover {
  color: var(--primary-color);
}

.movie-card .fa-check {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}

.movie-card .ribbon {
  position: absolute;
  right: 5px;
  top: 0;
  width: 0px;
  height: 50px;
  background-color: transparent;
  border: solid 20px rgba(255, 255, 255, 0.7);
  border-bottom: solid 15px transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
}

.movie-card .ribbon.watched {
  border: solid 20px rgba(40, 167, 69, 1);
  border-bottom: solid 15px transparent;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem;
}

.pagination .page-numbers {
  display: flex;
  flex-wrap: wrap;
}

.pagination .page-numbers .page {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--dark-light-color);
  cursor: pointer;
}

.pagination .page-numbers .page:hover {
  color: var(--primary-color);
}

.pagination .page-numbers .page.active {
  background-color: var(--primary-color);
  color: white;
}

.pagination .btn-container {
  margin: 1rem 0;
}

.pagination .btn-container .btn.disabled {
  opacity: 0.6;
}

.pagination .btn-container .btn.disabled:hover {
  opacity: 0.6;
  color: black;
}

/* Movie */
.movie {
  margin-top: 1rem;
}

.movie .watched-btn {
  background-color: var(--light-color);
  width: 150px;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
}

.movie .watched-btn.watched {
  background-color: var(--success-color);
  color: white;
}

.movie .watched-btn.unwatched {
  color: rgba(0, 0, 0, 0.6);
}

.movie h1 {
  font-size: 3rem;
}

.movie .info span {
  margin-right: 1rem;
  border-right: 1px solid grey;
  padding-right: 1rem;
}

.movie .info span:last-of-type {
  border: none;
}

.movie .content {
  display: flex;
  margin-top: 1rem;
}

.movie .content .poster {
  margin-right: 1rem;
}

.movie .content .poster img {
  max-width: 200px;
}

.movie .poster .ratings .rating img.imdb {
  width: 40px;
}

.movie .poster .ratings .rating img.tomato {
  width: 20px;
}

.movie .poster .ratings .rating img.metacritic {
  width: 20px;
}

.movie .poster .ratings .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

.movie .poster .ratings .rating span {
  margin-left: 0.75rem;
}

.movie .content .about {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.movie .content .about .plot {
  font-size: 1.5rem;
}

.movie .content .about .credits {
  margin-top: 2rem;
}

.movie .content .about .credits p {
  font-size: 1.1rem;
}

/* Random */
.random .btn {
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .scroll {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .page-container {
    margin: 2rem;
  }
  .movies {
    grid-template-columns: repeat(4, 1fr);
    max-width: 780px;
  }

  .movie-card {
    width: 175px;
  }

  .movie {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .movies {
    max-width: 680px;
  }

  .movie-card {
    width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 0.25rem 1rem;
  }

  .navbar .brand i {
    margin-right: 0.5rem;
    font-size: 1.4rem;
  }

  .navbar a,
  .navbar li {
    font-size: 1.3rem;
    padding: 0.35rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }

  .movies {
    grid-template-columns: repeat(3, 1fr);
    max-width: 582px;
  }

  .movie-card {
    width: 174px;
  }

  .hide-md {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    max-width: 480px;
  }

  .movie-card {
    width: 140px;
  }

  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar a,
  .navbar li {
    font-size: 1.2rem;
    padding: 0.16rem;
    margin: 0 0.2rem;
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }

  .admin-btn {
    display: flex;
    justify-content: center;
  }

  .admin-btn .btn {
    position: initial;
    width: 100%;
  }

  .hide-xs {
    display: none;
  }
}
