:root {
  --primary-color: #ffbb00;
  --dark-color: #494844;
  --light-color: #f4f4f4;
  --danger-color: #c52031;
  --success-color: #28a745;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Forms */
.form-container {
  width: 60%;
  padding-top: 1rem;
  margin: 1rem auto;
}

.form .form-group {
  margin: 1.2rem 0;
  display: flex;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='number'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.form input[type='text'].search-input {
  border-right: transparent;
}

.form input[type='submit'],
button {
  font: inherit;
}

.search-btn {
  margin-left: 0;
  padding: 0.4rem 1rem;
  border: 1px solid #ccc;
  border-left: transparent;
  cursor: pointer;
  outline: none;
}

/* Movies */
.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-card img {
  max-width: 150px;
}

/* Movie */
.movie h1 {
  font-size: 3rem;
}

.movie .info span {
  margin-right: 1rem;
  border-right: 1px solid grey;
  padding-right: 1rem;
}

.movie .info span:last-of-type {
  border: none;
}

.movie .content {
  display: flex;
  margin-top: 1rem;
}

.movie .content .poster {
  margin-right: 1rem;
}

.movie .poster .ratings .rating img.imdb {
  width: 40px;
}

.movie .poster .ratings .rating img.tomato {
  width: 20px;
}

.movie .poster .ratings .rating img.metacritic {
  width: 20px;
}

.movie .poster .ratings .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

.movie .poster .ratings .rating span {
  margin-left: 0.75rem;
}

.movie .content .about {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.movie .content .about .plot {
  font-size: 1.5rem;
}

.movie .content .about .credits {
  margin-top: 2rem;
}

.movie .content .about .credits p {
  font-size: 1.1rem;
}
